html {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  margin: 0 0 0 0;
}

#main {
  width: 100vw;
  height: 100vh;
}

#sequence {
  width: 100vw;
  height: 40px;
}

#sequence text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  text-align: center;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#name {
  font-size: 1.5em;
  width: 100%;
}
#dates {
  font-size: 1em;
  width: 100%;
}